html {
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-size: 0;
}

* {
  -moz-user-select: none;
}

#shadow {
  position: absolute;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
  width: 100%;
  height: 0.8rem;
  transition: visibility 0.2s, opacity 0.2s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

#shadow.visible {
  opacity: 1;
  visibility: visible;
}

#scrollable {
  overflow-y: auto;
  scroll-snap-type-y: mandatory;
  height: 100vh;
  transition: transform 0.2s;
}

.zooming #scrollable {
  will-change: transform;
}

.zooming #scrollable,
.dragging #scrollable {
  overflow: hidden;
}

/* This weird arrangement of constant sizes, transforms and containers is so
 * the gaia-container can animate fully between small and not-small states.
 * Without this animation, the container would be unnecessary and only the
 * width would need to be specified.
 */
.icon-container {
  position: relative;
  display: inline-block;
  width: 32vw;
  height: calc(32vw + 1.9rem);
}

gaia-app-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 32vw;
  box-sizing: border-box;
  border: 0.8rem solid transparent;
  transition: transform 0.2s, opacity 0.2s;

  font-size: 1.6rem;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.6) 0 0.05rem 0.25rem;
}

gaia-app-icon.launching {
  opacity: 0.8
}

gaia-container.small > .gaia-container-child > .icon-container {
  width: 24vw;
  height: calc(24vw + 1.9rem);
}

gaia-container > .gaia-container-child.dragging > .icon-container > gaia-app-icon {
  transform: scale(1.1);
  opacity: 0.8;
}

gaia-container.small > .gaia-container-child > .icon-container > gaia-app-icon {
  transform: scale(0.75) translate(-4vw, -4vw);
}

gaia-container.small > .gaia-container-child.dragging > .icon-container > gaia-app-icon {
  transform: scale(0.8) translate(-3.2vw, -3.2vw);
}

#bottombar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6rem;
  box-shadow: 0 -0.1rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: transform 0.2s;
  transform: translateY(6.5rem);
}

#bottombar.active {
  transform: none;
}

#uninstall {
  display: inline-block;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: no-repeat center center url('images/delete_bottom.svg'), linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2));
  background-size: 4.5rem 4.5rem, auto auto;
  transition: opacity 0.2s;
}

#bottombar.editable #uninstall {
  width: 50%;
}

#uninstall::after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: no-repeat center center url('images/delete_lid.svg');
  background-size: 4.5rem 4.5rem;
  transform-origin: calc(50% + 1.75rem) calc(50% + 0.8rem);
  transition: transform 0.2s;
}

#uninstall.active {
  opacity: 1;
}

#uninstall.active:after {
  transform: rotateZ(30deg);
}

#edit {
  display: inline-block;
  width: 50%;
  height: 100%;
  opacity: 0.5;
  background: no-repeat center center url('images/edit.svg'), linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2));
  background-size: 4.5rem 4.5rem, auto auto;
  transition: opacity 0.2s;
}

#edit.active {
  opacity: 1;
}
